<footer
    class="tw-bg-neutral-100 tw-items-center tw-z-50 tw-relative tw-py-16 tw-px-4 md:tw-px-8 tw-overflow-hidden 2xl:tw-px-60 tw-mx-auto tw-grid tw-grid-cols-1 tw-gap-8 lg:tw-grid-cols-12 tw-relative">
    <div class="tw-col-span-12 lg:tw-col-span-9">
      <h3 class="tw-font-medium tw-text-neutral-800 tw-text-5xl">
        <br /> The future of legal practice <br />
        is here<br />
      </h3>
    </div>
    <div class="tw-col-span-12 lg:tw-col-span-3">
      <div class="tw-flex tw-items-center tw-py-2">
        <%= image_tag "index/pin.svg" %>
          <p class="tw-ml-4">50 Holt St, Surry Hills NSW Australia</p>
      </div>
      <div class="tw-flex tw-items-center tw-py-2">
        <%= image_tag "index/email.svg" %>
          <p class="tw-ml-4">hello@atticus.ai</p>
      </div>
    </div>
    <div class="tw-col-span-12 tw-border-t tw-pt-8">
      <ul class="tw-flex tw-flex-col lg:tw-flex-row">
        <li class="tw-mr-8">
          <a class="tw-font-light hover:tw-text-neutral-500" href="#">Services</a>
        </li>
        <li class="tw-mr-8">
          <a class="tw-font-light hover:tw-text-neutral-500" href="#">Testimonials</a>
        </li>
        <li class="tw-mr-8">
          <a class="tw-font-light hover:tw-text-neutral-500" href="#">About</a>
        </li>
        <li class="tw-mr-8">
          <a class="tw-font-light hover:tw-text-neutral-500" href="#">Contact</a>
        </li>
        <li class="lg:tw-ml-auto tw-mt-8 lg:tw-mt-0">
          <small>Copyright 2023. All rights reserved</small>
        </li>
      </ul>
    </div>
  </footer>
